[defaults]
inventory = ./inventory
inventory_ignore_extensions = .template
remote_user = root
retry_files_enabled = false

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

